<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:label="Flutter">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Deep linking -->
            <meta-data
                android:name="flutter_deeplinking_enabled"
                android:value="true" />

            <intent-filter android:label="@string/filter_view_app_link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs beginning with "amiapp-flutter://*" -->
                <data android:scheme="amiapp-flutter" />
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/filter_view_universal_link">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Accepts URIs beginning with "http://*" -->
                <data android:scheme="http" />
                <!-- Accepts URIs beginning with "https://*" -->
                <data android:scheme="https" />
                <!-- Accepts URIs beginning with "*://www.amiapp-flutter.com" -->
                <data android:host="www.amiapp-flutter.com" />
                <!-- Accepts URIs with path "*://*/settings/*" -->
                <data android:pathPrefix="/settings" />
                <!-- Accepts URIs with path "*://*/login/*" -->
                <data android:pathPrefix="/login" />
                <!-- Accepts URIs with path "*://*/dashboard/*" -->
                <data android:pathPrefix="/dashboard" />
            </intent-filter>
        </activity>
        <!-- Register Customer.io Firebase Messaging Service as we want our SDK to handle all push
             notifications. This is not required. However, if you have multiple services added for
             handling push notifications, you might need to add this service to ensure all
             notifications are handled by Customer.io. Read more:
             https://www.customer.io/docs/sdk/flutter/push-notifications/multiple-push-providers/ -->
        <service
            android:name="io.customer.messagingpush.CustomerIOFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <meta-data
            android:name="io.customer.notification_channel_id"
            android:value="custom_channel_flutter" />
        <meta-data
            android:name="io.customer.notification_channel_name"
            android:value="CIO Test" />
        <meta-data
            android:name="io.customer.notification_channel_importance"
            android:value="4" />
    </application>
</manifest>
