name: Flutter Build

on:
  push:
# Cancel jobs and just run the last one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    working-directory: apps/amiapp_flutter

jobs:
  build_ios:
    name: Build iOS
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - name: Install CLI tools used in CI script
      run: |
        brew install sd # used in CI script as an easier to use sed CLI. Replaces text in files.
    - name: Setup workspace credentials in iOS environment files
      run: |
        cp "ios/Env.swift.example" "ios/Env.swift"
        sd 'siteId: String = ".*"' "siteId: String = \"${{ secrets[format('CUSTOMERIO_{0}_WORKSPACE_SITE_ID', amiapp_flutter)] }}\"" "ios/Env.swift"
        sd 'apiKey: String = ".*"' "apiKey: String = \"${{ secrets[format('CUSTOMERIO_{0}_WORKSPACE_API_KEY', amiapp_flutter)] }}\"" "ios/Env.swift"
    - uses: ./.github/actions/setup-flutter
    - run: flutter build ios --release --no-codesign

  build_android:
    name: Build Android
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: '17'
    - uses: ./.github/actions/setup-flutter
    - run: flutter build apk --release
