name: Test

on: [push, pull_request]

# Cancel jobs and just run the last one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-flutter
    - name: Run tests
      run: flutter test
  
  test_publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: ./.github/actions/setup-flutter

    - name: dry-run publishing to feel confident deployment will work after merging PR
      uses: k-paxian/dart-package-publisher@v1.6.0
      with:
        credentialJson: ${{ secrets.CREDENTIAL_JSON }}
        dryRunOnly: true 
        flutter: true