name: Test

on: [pull_request]

# Cancel jobs and just run the last one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-flutter
    - name: Run Flutter tests
      run: flutter test
    - name: Setup Android environment
      uses: customerio/customerio-android/.github/actions/setup-android@main
    - name: Run Android native tests
      run: cd android && ./gradlew test
  
  test_publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: ./.github/actions/setup-flutter

    - name: dry-run publishing to feel confident deployment will work after merging PR
      uses: k-paxian/dart-package-publisher@e555d5c07a728bca4c6706ff8907a76ab53a5bf0 # master
      with:
        credentialJson: ${{ secrets.CREDENTIAL_JSON }}
        dryRunOnly: true
        flutter: true