name: Test

on: [pull_request]

# Cancel jobs and just run the last one
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup-flutter
    - name: Run Flutter tests
      run: flutter test
  
  test_publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: ./.github/actions/setup-flutter

    - name: dry-run publishing to feel confident deployment will work after merging PR
      uses: k-paxian/dart-package-publisher@8fdba1dbf624c712706281a6f91cb50b6bfc2eaf # master
      with:
        credentialJson: ${{ secrets.CREDENTIAL_JSON }}
        dryRunOnly: true
        flutter: true